.form-box {

    position: relative;
    width: 25rem;
    height: 28.125rem;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 2rem;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 19.375rem;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: -5px;
}

.inputbox input {
    width: 100%;
    height: 3.125rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 2rem;
    padding: 0 35px 0 5px;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 1.2rem;
}

.forget {
    margin: -15px 0 15px;
    font-size: 0.9rem;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;

}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    font-weight: bold;
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.register {
    color: #fff;
    font-size: 0.8rem;
}

.register a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.register a:hover {
    text-decoration: underline;
}